EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=goog_xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=premium
EXPO_PUBLIC_ENABLE_MOCK_BILLING=true
EXPO_PUBLIC_AUTO_DEV_AUTH=true
EXPO_PUBLIC_OWNER_FULL_ACCESS=false
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_DEV_USERNAME=developer
EXPO_PUBLIC_DEV_PASSWORD=mohon1234
EXPO_PUBLIC_PREMIUM_MODE=license
EXPO_PUBLIC_LICENSE_API_BASE_URL=https://asia-southeast1-your-project.cloudfunctions.net/licenseApi
EXPO_PUBLIC_ENABLE_GCASH_CHECKOUT=false
EXPO_PUBLIC_LICENSE_CHECKOUT_DAYS=30
EXPO_PUBLIC_ADFREE_CHECKOUT_DAYS=30
EXPO_PUBLIC_CHECKOUT_VARIANT=subscriber
EXPO_PUBLIC_PREMIUM_LICENSE_PREFIX=MFS
EXPO_PUBLIC_ADFREE_LICENSE_PREFIX=MFA
EXPO_PUBLIC_LOCAL_LICENSE_SECRET=change_this_same_value_for_dashboard_and_app
EXPO_PUBLIC_LICENSE_VALIDATION_URL=http://192.168.0.17:8787
EXPO_PUBLIC_LICENSE_REMOTE_REQUIRED=false
EXPO_PUBLIC_LICENSE_REMOTE_STRICT=false
EXPO_PUBLIC_LICENSE_REQUIRE_API_TOKEN=true
EXPO_PUBLIC_LICENSE_API_TOKEN=
EXPO_PUBLIC_ADS_ENABLED=true
EXPO_PUBLIC_ADS_FORCE_SHOW_IN_DEV=false
EXPO_PUBLIC_ADS_ALLOW_NON_SUBSCRIBER=false
EXPO_PUBLIC_ADS_USE_TEST_IDS=false
EXPO_PUBLIC_ADS_ALLOW_TEST_FALLBACK=false
EXPO_PUBLIC_ADS_TAB_INTERSTITIAL_ENABLED=true
EXPO_PUBLIC_ADS_DIAGNOSTIC_OVERLAY=false
EXPO_PUBLIC_LOCAL_LICENSE_SECRET=change_this_same_value_for_dashboard_and_app
EXPO_PUBLIC_ADMOB_APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713
EXPO_PUBLIC_ADMOB_APP_ID_IOS=ca-app-pub-3940256099942544~1458002511
EXPO_PUBLIC_ADMOB_BANNER_ANDROID_ID=ca-app-pub-3940256099942544/6300978111
EXPO_PUBLIC_ADMOB_BANNER_IOS_ID=ca-app-pub-3940256099942544/2934735716
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ANDROID_ID=ca-app-pub-3940256099942544/1033173712
EXPO_PUBLIC_ADMOB_REWARDED_ANDROID_ID=ca-app-pub-3940256099942544/5224354917
FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase-service-account.json
PAYMONGO_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxx
PAYMONGO_BASE_URL=https://api.paymongo.com/v1
PAYMONGO_SUCCESS_URL=https://example.com/payment-success
PAYMONGO_CANCEL_URL=https://example.com/payment-cancelled
PAYMONGO_WEBHOOK_SECRET_KEY=whsk_test_xxxxxxxxxxxxxxxxx
PAYMONGO_MODE=test
PAYMONGO_SIGNATURE_TOLERANCE_SEC=300

# Additional AdMob IDs
EXPO_PUBLIC_ADMOB_NATIVE_ADVANCED_ANDROID_ID=ca-app-pub-6410327854407818/8267958120
EXPO_PUBLIC_ADMOB_APP_OPEN_ANDROID_ID=ca-app-pub-6410327854407818/3122008462
EXPO_PUBLIC_ADMOB_REWARDED_INTERSTITIAL_ANDROID_ID=ca-app-pub-6410327854407818/6618400341
EXPO_PUBLIC_ADMOB_REWARDED_ANDROID_ID=ca-app-pub-6410327854407818/5627217454
