MFPH_UPLOAD_STORE_FILE=./config/keystore/mf-subs-upload.jks
MFPH_UPLOAD_STORE_PASSWORD=CHANGE_ME_STRONG_STORE_PASSWORD
MFPH_UPLOAD_KEY_ALIAS=mf-subs-upload
MFPH_UPLOAD_KEY_PASSWORD=CHANGE_ME_STRONG_KEY_PASSWORD
